@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
margin: 0px;
padding: 0px;
}
.btn{
     border-radius: 8px;
     background: rgba(82, 195, 3, 1);
     padding: 21px 32px 21px 32px;
     color: rgba(255, 255, 255, 1);

     font-family: Work Sans;
     font-size: 20px;
     font-weight: 600;
     line-height: 100%;
     letter-spacing: 0%;
     text-align: center;
     border: none;

}
.btn-container{
    text-align: center;
}
#hero{
    background-color: brown;
    background: linear-gradient(180.00deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),rgba(16, 16, 16, 0) 100%),url(../assets/hero-bg.png);
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 1000px;
    margin: 0 auto;
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
#hero .hero-content .title{
    width: 1000px;
    height: 160px;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#hero .hero-content .description{
    width: 1023px;
    height: 56px;opacity: 0.7;color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

#card-box{

    width: 1320px;
    margin: 100px auto;
}
#card-box .info{

}
#card-box .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    opacity: 0.6;
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.card-container{
    margin-top: 48px;
}
.card{
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 424px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
